body{
    background-image: url("https://media.istockphoto.com/id/955576348/photo/businessman-calculating-the-conversion-rate-for-the-indian-rupee-money.webp?a=1&b=1&s=612x612&w=0&k=20&c=ttwZJ-zCqhuSD8gPJiZdV--R6dPE5xztldgiwHPU1FE=");
    background-repeat: no-repeat;
    background-size:auto;
    position: fixed;
}
head{
    position: static;
    shape-image-threshold: initial;
}